@media screen and (max-width: 1050px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
        'a'
        'b'
        'b'
        'c'
        'd'
        'e';
        overflow: auto;
    }

    #clock {
        margin: 2rem;
    }

    #clock_img {
        margin-bottom: 2.5rem;
    }

    #bank {
        margin-bottom: 30%;
        height: 37% !important;
    }

    #welcome {
        margin-top: -5vh;
        margin-bottom: 3vh;
    }

    #weather {
        width: 100%;
    }

    #weather_image {
        max-height: 100%;
        max-width: 95%;
        display:block;
        margin: auto 2.5%;
    }

    #quote {
        margin-top: 4.5rem !important;
    }

    #quote_author {
        margin-bottom: 1.5rem !important;
    }
}

@media screen and (min-width: 1051px) {
    #weather {
        width: 90%;
    }
}