@media screen and (max-width: 1050px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
        'a'
        'b'
        'b'
        'c'
        'd'
        'e';
    }

    #welcome {
        margin-top: -5vh;
        margin-bottom: 3vh;
    }

    #weather {
        width: 100%;
    }

    #weather_image {
        max-height: 100%;
        max-width: 95%;
        display:block;
        margin: auto 2.5%;
    }
}

@media screen and (min-width: 1051px) {
    #weather {
        width: 90%;
    }
}